<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Page }} - Snippetbox</title>
    <!-- Link to the CSS stylesheet and favicon -->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link
      rel="shortcut icon"
      href="/assets/img/favicon.ico"
      type="image/x-icon"
    />
    <!-- Also link to some fonts hosted by Google
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
    />
     -->
  </head>
  <body>
    <header>
      <h1><a href="/">Snippetbox</a></h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/snippets/create">Create snippet</a>
    </nav>
    <main>